
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(images.jpg);
    background-size: cover; 
    background-position: center; 
      

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 50px;
}

header .logo img {
    width: 150px;
    height: auto;
}

header nav ul {
    list-style: none;
    display:flex;
    gap: 40px;
    ;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li a:hover {
    text-decoration: underline;
}
.hero {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: rgb(102, 148, 239);
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.hero .btn-primary {
    padding: 10px 20px;
    background-color: #0f4c81;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.hero .btn-primary:hover {
    background-color: #053b63;
}
.services {
    padding: 40px 50px;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #f4f4f4;
    
}

.service-items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.service {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.service p {
    font-size: 16px;
}
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer .footer-links a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

footer .footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .service-items {
        flex-direction: column;
        align-items: center;
    }

    .service {
        margin-bottom: 20px;
    }
}
